<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var errorMessage = '[[${errorMessage}]]';

            if (errorMessage) {
                alert(errorMessage);
            }
        });
    </script>
</head>
<body>
    <h1>로그인 페이지</h1>
    <form th:action="@{/loginProcess}" method="post">

        <div>
            <span>아이디</span>
            <input type="text" id="id" name="id">
        </div>

        <div>
            <span>비밀번호</span>
            <input type="password" id="pw" name="pw">
        </div>
        <button type="submit">로그인</button>
    </form>
</body>
</html>